#ruby-image {
    height: 200px;
    width: 200px;
    background-image:"./assets/images/ruby.jfif"
}
#diamond-image {
    height: 200px;
    width: 200px;
    background-image:"./assets/images/diamond.jfif"
}
#emerald-image {
    height: 200px;
    width: 200px;
    background-image:"./assets/images/emerald.jfif"
}
#saffire-image {
    height: 200px;
    width: 200px;
    background-image:"./assets/images/saffire.jfif"
}